@font-face {
  font-family: "iconfont"; /* Project id 1657218 */
  src: url('iconfont.woff2?t=1660115439762') format('woff2'),
       url('iconfont.woff?t=1660115439762') format('woff'),
       url('iconfont.ttf?t=1660115439762') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontuozhuai:before {
  content: "\e614";
}

.iconfilter-line:before {
  content: "\e81e";
}

.icondelete:before {
  content: "\e81f";
}

.iconfree-shipping:before {
  content: "\e820";
}

.iconlocation-o:before {
  content: "\e821";
}

.iconlist:before {
  content: "\e636";
}

.iconcard1:before {
  content: "\e637";
}

.iconchengbao:before {
  content: "\e603";
}

.iconbaoxiang:before {
  content: "\e604";
}

.iconshoucang:before {
  content: "\e605";
}

.icongerenshezhi:before {
  content: "\e606";
}

.iconjuanzhou:before {
  content: "\e607";
}

.icongerenshouye:before {
  content: "\e608";
}

.icondaizhifu:before {
  content: "\e609";
}

.icondaifahuo:before {
  content: "\e60a";
}

.icondaishouhuo:before {
  content: "\e60b";
}

.iconyiwancheng:before {
  content: "\e60c";
}

.iconshouji:before {
  content: "\e60d";
}

.iconzaixiankefu:before {
  content: "\e60e";
}

.iconcoupons-style:before {
  content: "\e840";
}

.iconrefund:before {
  content: "\e841";
}

.iconcredit:before {
  content: "\e842";
}

.iconsubcsripti:before {
  content: "\e843";
}

.iconorder2:before {
  content: "\e845";
}

.iconlocation:before {
  content: "\e846";
}

.iconuser:before {
  content: "\e847";
}

.iconhome:before {
  content: "\e844";
}

.iconicon-test:before {
  content: "\e63a";
}

.iconicon-test1:before {
  content: "\e63c";
}

.iconicon-test2:before {
  content: "\e63d";
}

.iconicon-test3:before {
  content: "\e63e";
}

.iconicon-test4:before {
  content: "\e63f";
}

.iconicon-test5:before {
  content: "\e640";
}

.iconcredit1:before {
  content: "\e641";
}

.iconlevel:before {
  content: "\e642";
}

.iconcoupon_select:before {
  content: "\e644";
}

.iconhome1:before {
  content: "\e645";
}

.iconcard2:before {
  content: "\e646";
}

.iconhome_select:before {
  content: "\e647";
}

.iconstar_select:before {
  content: "\e648";
}

.iconmy:before {
  content: "\e649";
}

.iconservice1:before {
  content: "\e64a";
}

.iconmy_select:before {
  content: "\e64b";
}

.iconshopingBag_select:before {
  content: "\e64c";
}

.iconmenu_select:before {
  content: "\e64d";
}

.iconmenu:before {
  content: "\e64e";
}

.iconshopingBag:before {
  content: "\e64f";
}

.iconmembership:before {
  content: "\e643";
}

.iconpim-open-platform:before {
  content: "\e6f1";
}

.iconbianji:before {
  content: "\e63b";
}

.iconvip:before {
  content: "\e77b";
}

.iconunlock:before {
  content: "\e77c";
}

.iconlock:before {
  content: "\e77d";
}

.iconexpressdelivery:before {
  content: "\e77f";
}

.iconruledisabled:before {
  content: "\e780";
}

.iconrule:before {
  content: "\e781";
}

.iconlimited:before {
  content: "\e782";
}

.icontime-fill:before {
  content: "\e783";
}

.icontime:before {
  content: "\e784";
}

.iconaddress:before {
  content: "\e785";
}

.iconservice-fill:before {
  content: "\e786";
}

.iconservice:before {
  content: "\e787";
}

.iconlivechat-fill:before {
  content: "\e788";
}

.iconlivechat:before {
  content: "\e789";
}

.iconconfirmation:before {
  content: "\e78a";
}

.iconorder:before {
  content: "\e78b";
}

.iconordertracking:before {
  content: "\e78c";
}

.icondownload:before {
  content: "\e78d";
}

.iconmore-star:before {
  content: "\e78e";
}

.iconmore-star1:before {
  content: "\e78f";
}

.icontop:before {
  content: "\e790";
}

.iconqrcode:before {
  content: "\e791";
}

.iconminus:before {
  content: "\e792";
}

.iconplus:before {
  content: "\e793";
}

.iconcancel:before {
  content: "\e794";
}

.iconconfirm:before {
  content: "\e795";
}

.iconaddto-fill:before {
  content: "\e796";
}

.iconaddto:before {
  content: "\e797";
}

.iconmessage-fill:before {
  content: "\e798";
}

.iconmessage:before {
  content: "\e799";
}

.iconhint-fill:before {
  content: "\e79a";
}

.iconhint:before {
  content: "\e79b";
}

.iconlosing-fill:before {
  content: "\e79c";
}

.iconlosing:before {
  content: "\e79d";
}

.iconsuccessful-fill:before {
  content: "\e79e";
}

.iconsuccessful:before {
  content: "\e79f";
}

.iconeye-off:before {
  content: "\e7a0";
}

.iconmycenterinformatio:before {
  content: "\e7a1";
}

.iconcumulativescoring:before {
  content: "\e7a2";
}

.iconcalendar:before {
  content: "\e7a3";
}

.iconeye-on:before {
  content: "\e7a4";
}

.iconorderreturn:before {
  content: "\e7a5";
}

.iconorder1:before {
  content: "\e7a6";
}

.icongift:before {
  content: "\e7a7";
}

.iconcard-fill:before {
  content: "\e7a8";
}

.iconcard:before {
  content: "\e7a9";
}

.iconfullscreen:before {
  content: "\e7aa";
}

.iconexit-fullscreen:before {
  content: "\e7ab";
}

.iconshare-star:before {
  content: "\e7ac";
}

.iconshare-star1:before {
  content: "\e7ad";
}

.icondislike:before {
  content: "\e7ae";
}

.iconlike:before {
  content: "\e7af";
}

.iconzoom-out:before {
  content: "\e7b0";
}

.iconzoom-in:before {
  content: "\e7b1";
}

.icondollor:before {
  content: "\e7b2";
}

.iconrmb:before {
  content: "\e7b3";
}

.iconcamera:before {
  content: "\e7b4";
}

.iconfilter:before {
  content: "\e7b5";
}

.icontriangle-down:before {
  content: "\e7b6";
}

.icontriangle-up:before {
  content: "\e7b7";
}

.iconevents-management:before {
  content: "\e7b8";
}

.iconevents:before {
  content: "\e7b9";
}

.iconlabel:before {
  content: "\e7ba";
}

.iconlabel-fill:before {
  content: "\e7bb";
}

.iconheart-fill:before {
  content: "\e7bc";
}

.iconheart:before {
  content: "\e7bd";
}

.iconwishlist-fill:before {
  content: "\e7be";
}

.iconwishlist:before {
  content: "\e7bf";
}

.iconwishlist-star:before {
  content: "\e7c0";
}

.iconwishlist-star1:before {
  content: "\e7c1";
}

.iconreduce:before {
  content: "\e7c2";
}

.iconadd:before {
  content: "\e7c3";
}

.iconup:before {
  content: "\e7c4";
}

.icondown:before {
  content: "\e7c5";
}

.iconright:before {
  content: "\e7c6";
}

.iconlift:before {
  content: "\e7c7";
}

.iconcircle-up:before {
  content: "\e7c8";
}

.iconcircle-down:before {
  content: "\e7c9";
}

.iconcircle-right:before {
  content: "\e7ca";
}

.iconcircle-lift:before {
  content: "\e7cb";
}

.iconarrow-lift:before {
  content: "\e7cc";
}

.iconarrow-right:before {
  content: "\e7cd";
}

.icondustbin-fill:before {
  content: "\e7ce";
}

.icondustbin:before {
  content: "\e7cf";
}

.iconhelp-fill:before {
  content: "\e7d0";
}

.iconhelp:before {
  content: "\e7d1";
}

.iconedit-black:before {
  content: "\e7d2";
}

.iconload:before {
  content: "\e7d3";
}

.iconshopping-bag-fill:before {
  content: "\e7d4";
}

.iconshopping-bag:before {
  content: "\e7d5";
}

.iconshoppine-car-fill:before {
  content: "\e7d6";
}

.iconshoppine-car:before {
  content: "\e7d7";
}

.iconlogistics-fill:before {
  content: "\e7d8";
}

.iconlogistics:before {
  content: "\e7d9";
}

.iconmap-fill:before {
  content: "\e7da";
}

.iconmap:before {
  content: "\e7db";
}

.icongps:before {
  content: "\e7dc";
}

.iconsearch:before {
  content: "\e7dd";
}

.iconleave:before {
  content: "\e7de";
}

.iconlogin:before {
  content: "\e7df";
}

.iconmycenter-fill:before {
  content: "\e7e0";
}

.iconmycenter:before {
  content: "\e7e1";
}

.iconphone:before {
  content: "\e7e2";
}

.iconemail-fill:before {
  content: "\e7e3";
}

.iconemail:before {
  content: "\e7e4";
}

.iconurl:before {
  content: "\e7e5";
}

.iconalipay:before {
  content: "\e7e6";
}

.iconqq:before {
  content: "\e7e7";
}

.iconweibo:before {
  content: "\e7e8";
}

.iconyoutube:before {
  content: "\e7e9";
}

.icongoogle:before {
  content: "\e7ea";
}

.iconlinkedin:before {
  content: "\e7eb";
}

.iconinstagram:before {
  content: "\e7ec";
}

.iconline:before {
  content: "\e7ed";
}

.iconpinterest:before {
  content: "\e7ee";
}

.iconwechat:before {
  content: "\e7ef";
}

.icontwitter:before {
  content: "\e7f0";
}

.iconfacebook:before {
  content: "\e7f1";
}

.iconreply:before {
  content: "\e7f9";
}

.iconcomment:before {
  content: "\e7fa";
}

.iconjiazai:before {
  content: "\e68c";
}

.iconLittleGoldfish:before {
  content: "\e805";
}

.iconPause:before {
  content: "\e806";
}

.iconfacebook-bg:before {
  content: "\e80a";
}

.iconemail-bg:before {
  content: "\e80b";
}

.icontwitter-bg:before {
  content: "\e80c";
}

.iconwechat-bg:before {
  content: "\e80d";
}

.iconline-bg:before {
  content: "\e80e";
}

.iconurl-bg:before {
  content: "\e80f";
}

.iconpinterest-bg:before {
  content: "\e810";
}

.iconcollectparcel:before {
  content: "\e811";
}

.iconordered:before {
  content: "\e812";
}

.iconintransit:before {
  content: "\e814";
}

.iconmore-horizontal:before {
  content: "\e815";
}

.iconmob-sort:before {
  content: "\e817";
}

.iconsuccess:before {
  content: "\e818";
}

.iconerror:before {
  content: "\e819";
}

.iconshipped:before {
  content: "\e81a";
}

.iconTobeevaluated:before {
  content: "\e813";
}

.iconRefund:before {
  content: "\e816";
}

.iconWaitingarea:before {
  content: "\e81b";
}

.iconordertracking1:before {
  content: "\e81c";
}

.iconfilter-solid:before {
  content: "\e81d";
}

