.content {
    .wrapper {
        min-height: 100vh;
        background: pink;
        font-size: 0;
        position: relative;
        background-image: url('https://www.assdrty.com/images/2020/05/16/0077qhzWly1fq7tvv7yipg30dc0loqv6.gif');
        background-attachment: fixed;

        .navbar {
            padding-top: 64px;
            text-align: center;
            width: 100%;
            font-size: 28upx;
            font-weight: bold;
            font-style: italic;
            text-decoration: underline;
        }

        .album {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 40upx 40upx 0;

            .imgwrap {
                width: 200upx;
                height: 200upx;
                margin-bottom: 36upx;

                .poster {
                    width: 200upx;
                    height: 200upx;
                }
            }
        }
    }
}
