.content {
    .wrapper {
        height: 100vh;
        display: flex;
        background: pink;
        align-items: center;
        justify-content: center;
        font-size: 0;
        position: relative;
        background-image: url('https://www.assdrty.com/images/2020/05/16/0077qhzWly1fq7tvv7yipg30dc0loqv6.gif');
        background-attachment: fixed;

        .swiper {
            width: 100%;
            height: 100%;

            .swiper-item {
                display: flex;
                align-items: center;

                .poster {
                    padding: 0 10px;
                    width: 100%;
                }
            }
        }

        .btn {
            background: rgba(0,0,0,.5);
            color: #fff;
            border-radius: 0;
            font-size: 28upx;
            height: 80upx;
            line-height: 80upx;
            position: absolute;
            bottom: 10%;

            &.btn2 {
                bottom: auto;
                top: 10%;
            }
        }
    }
}
