.wrap {
    text-align: center;
    padding: upx(100) upx(16) upx(25);

    .top {
        position: fixed;
        top: 0;
        background: #fff;
        height: upx(80);
        width: 100%;
    }

    > text {}

    > input {
        border: 1px solid #eee;
        margin-top: upx(16);
        line-height: 30px;
        height: 32px;
    }
}