.wrap {
    text-align: center;
    position: relative;
    padding-top: 0;
}

#myMap {
    width: 100%;
    height: 100vh;
}

.vsbar {
    position: fixed;
    left: 20px;
    top: 60px;
    z-index: 1;
    width: 0;
    transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

    .wrap {
        background: transparent;
        pointer-events: none;
        padding: upx(10) 0;
        transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

        button {
            white-space: nowrap;
            padding: 0;
            margin-bottom: upx(10);

            &:last-child {
                margin-bottom: 0;
            }
        }

        .a,
        .b,
        .c,
        .d {
            display: none;
        }

        &.a {
            .a {
                display: block;
            }
        }
        &.b {
            .b {
                display: block;
                height: upx(300);
                overflow: scroll;
                text-align: left;
            }
        }
        &.c {
            .c {
                display: block;
            }
        }
        &.d {
            .d {
                display: block;
            }
        }
    }

    &.opened {
        width: upx(335);

        .wrap {
            background: #fff;
            pointer-events: all;
            padding: upx(10);
        }
    }
}
